<h1>About</h1>

<p>Tech University is a Rails application built by Gregory Anderson. It allows for students to sign in or sign up for classes, as well as read some brief information about each course.</p>
<p>In order to navigate annonymously, sign in with the username, "guest@example.come" and the password, "password".</p>

<%= link_to "Gregory's Github", "https://github.com/gregoryanderson/tech-uni" %>

