<h1>Course Listing</h1> 

<ul>
  <li>Code: CS110</li>
  <li>Intro to Computer Science</li>
  <li>Description: Basic topics of Computer Science</li>
</ul>

<ul>
  <li>Code: EN101</li>
  <li>Intro to English Composition</li>
  <li>Description: Basic topics of English Composition</li>
</ul>

